<!DOCTYPE html>
<html lang="en">

<head>
    <title>DragaliaBaasServer</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <!-- Bootstrap breaks the admin panel
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/> 
    -->
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="DragaliaBaasServer.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
